* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h2 {
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 40px;
}

h3 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 40px;
}

p:last-child {
    margin-bottom: 0;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header {
    background-color: #fff;
    color: #000;
    padding: 40px;
}

nav {
    width: 100%;
    text-align: right;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    /* padding: 4px 4px 4px 6px; */
    transition: all 0.3s;
    border-radius: 4px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
    padding: 4px 4px 4px 6px; /* Added this padding so that the clickable area of the link matches the highlighted background on hover */
}

nav li:hover {
    display: inline-block;
    position: relative;
    background-color: #D04928;
    color: #fff;
    cursor: pointer;
}

nav li:hover a {
    color: #fff;
}

.this-section {
    display: inline-block;
    position: relative;
    background-color: #D04928;
    padding: 4px 4px 4px 6px;
    color: #fff;
    border-radius: 4px;
}

section {
    padding: 120px 40px;
}

footer {
    background-color: #000;
    color: #fff;
    padding-top: 120px;
}

footer a {
    color:#fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.col-left {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.col-2 {
    flex: 2;
}

.col-logo {
    width: 120px;
}

.col-nav {
    width: 100%;
}

.flex {
    display: flex;
}

.rel {
    position: relative;
}

.align-center {
    align-items: center;
}

img {
    opacity: 1;
    transition: opacity 2s;
    width: 100%;
    height: auto;
}

.lazy {
    opacity: 0;
}

.logo img {
    width: 120px;
    display: block;
}

.footer-logo img {
    width: 120px;
    display: block;
}

.logo {
    margin: 0;
}

.keyline {
    position: relative;
}

.keyline::after {
    content: '';
    width: 2px;
    height: 295px;
    background-color: #000;
    position: absolute;
    left: 160px;
    top: 0;
}

.menu {
    display: none;
}

.close {
    display: none;
}

.hero-indent {
    margin-left: 162px;

}

.hero-area {
    overflow: hidden;
    min-height: 205px;
    background: url(../images/side-cut-illustration.svg) no-repeat bottom right;
    margin: 60px 40px 0 0;
}

.projects-hero {
    overflow: hidden;
    min-height: 205px;
    background: url(../images/projects-hero.png) no-repeat bottom right;
    background-size: 60%;
    margin: 60px 40px 0 0;
}

.hero {
    margin: 0 40px 0 40px;
    position: absolute;
    font-family: 'Antonio', sans-serif;
    display: block;
    bottom: 0;
    width: max-content;
    padding-right: -100%;
    will-change: transform;
    animation: slide-title 0.6s ease-in-out;
    display: inline-block;
    padding: 10px 10px 0 0;
    background: rgba(255,255,255,0.8);
}

.hero h1 {
    font-size: 4rem;
    color: #D04928;
    overflow-wrap: anywhere;
}

.tag-intro {
    line-height: 30px;
    font-size: 1.2rem;
}

/* Animate the heading */

@keyframes slide-title {
    0% { transform: translate(-100%, 0);
    }
    100% { transform: translate(0, 0);
    }
}

/* Make sure we don't animate the heading if someone has set their device to reduce motion */

@media (prefers-reduced-motion: reduce) {
    .hero {
        animation: none;
        padding-left: 0;
        width: auto;
    }
}

.hero-img {
    text-align: center;
}

.hero-img img {
    margin: 60px 40px 0 0;
    height: 200px;
    width: auto;
}

.section-name {
    font-size: 2rem;
}

.centre {
    text-align: center;
}

.narrow {
    margin: 0 -40px;
    padding: 0 200px;
}

.narrow-left {
    margin: 0 0 0 160px;
}

.narrow-right {
    margin: 0 160px 0 0;
}

.bk-light a {
    text-decoration: underline;
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
}

.bk-light a:hover {
    background-color: #D04928;
    color: #fff;
}

.bk-dark {
    position: relative;
    color: #fff;
    background-color: #000;
}

.bk-dark a {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
    padding: 2px 4px;
}

.bk-dark a:hover {
    background-color: #D04928;
    color: #fff;
}

.button {
    display: inline-block;
    text-decoration: none;
    margin: 0 20px 0 0;
    padding: 12px 20px;
    background-color: #D04928;
    color: #fff;
    border-radius: 6px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #D04928;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    -webkit-appearance: none; /* Stop iOS rendering the button with native styling */
}

.stack-pods {
    margin: 0 -50px;
}

.summary-pod {
    margin: 80px 10px 20px 10px;
    position: relative;
}

.summary-pod::before {
    content: '';
    width: 80px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: -40px;
}

.links-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 1.8;
}

.links-list li {
    padding: 0 10px 8px 0;
}

.projects-preview {
    position: relative;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.commercial, .residential {
    position: relative;
    left: 200%;
    top: 0;
    opacity: 0;
}

.project-question {
    position: relative;
    opacity: 1;
    left: 0;
}

.project-question li {
    padding-bottom: 16px;
    list-style: none;
}

.move {
    transform: translateX(-200%);
    transition: transform .4s ease-in-out;
}
  
.right {
    opacity: 0;
    transform: translateX(100vw);
      transition: transform 0.4s ease-in-out;
}
  
.left {
    opacity: 1;
    transform: translateX(0);
    transition: 
        transform .3s ease-in-out, 
        opacity .3s linear;
}

.move-back {
    transform: translateX(+200%);
    transition: transform .4s ease-in-out;
}

.left-back {
    opacity: 0;
    transform: translateX(-100vw);
      transition: transform 0.4s ease-in-out;
}

.projectsSlider {
    margin: 0 -10px;
    display: none;
}

.projectsSlider img {
    width: 100%;
}

.project-example {
    position: relative;
    margin: 10px;
}

.back-more {
    display: flex;
    justify-content: space-between;
}

/* .proj-deets {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 4px;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
} */

.proj-deets h3 {
    margin: 0;
}

.arc-drawing-top {
    position: relative;
    overflow: hidden;
}

.arc-drawing-b {
    height: 2000px;
    position: absolute;
    bottom: -1800px;
    left: 50%;
    width: auto;
}

.arc-drawing-bottom {
    position: relative;
    overflow: hidden;
}

.arc-drawing-w {
    height: 2000px;
    position: absolute;
    top: -200px;
    left: 50%;
    width: auto;
}

footer .footer-links {
    margin: 120px 0 0 0;
    background-color: #D04928;
    padding: 12px 0;
    font-size: 0.8rem;
}

.footer-links li {
    display: inline-block;
    padding: 4px 20px 4px 6px;
}

.footer-links a {
    color: #fff;
    position: relative;
}

.our-projects {
    margin-bottom: 120px;
}

.our-project-name.proj-right h2 { 
    text-align: right;
}

.our-project-name h2 {
    margin: 40px 0;
}

.our-projects.proj-right {
    flex-flow: row-reverse;
}

.proj-desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.proj-desc p {
    margin: 10px 20px;
}

@media (min-width: 1160px) {
    
    .hero h1 {
        font-size: 7rem;
    }
    
    .tag-intro {
        line-height: 50px;
        font-size: 2.2rem;
    }

}

@media (max-width: 900px) {
    header {
        padding: 20px;
    }

    footer {
        padding-top: 80px;
    }

    section {
        padding: 80px 20px;
    }

    .short-pad-top {
        padding-top: 20px;
    }

    .menu {
        display: block;
        text-align: right;
    }

    .menu-button {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        border: 2px solid #000;
        padding: 4px 6px;
        border-radius: 4px;
    }

    .close {
        display: block;
        text-align: right;
    }
    
    .nav {
        position: fixed;
        background-color: #333;
        top: -100vh;
        left: 0;
        font-size: 1.2rem;
        width: 100vw;
        min-height: 100vh;
        text-align: center;
        transition: transform 0.1s;
        padding-top: 40px;
        color: #fff;
    }

    .nav a {
        color: #fff;
    }

    .close-button {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        border: 2px solid #fff;
        padding: 4px 6px;
        border-radius: 4px;
        top: 22px;
        right: 20px;
        position: absolute;
        color: #fff;
    }

    .nav.open {
        transform: translateY(100%);
        z-index: 1;
    }

    .nav ul li {
        display: block;
        margin: 40px 20px;
    }

    .keyline::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0px;
        top: 60px;
    }

    .hero-indent {
        margin: 40px 0 0 0;
    }

    .hero-area {
        overflow: hidden;
        min-height: 100%;
        height: 260px;
        margin: 0;
    }

    .hero {
        margin: 0;
        padding: 10px 10px 0 0;
        position: relative;
    }

    .narrow, .narrow-left, .narrow-right {
        margin: 0;
        padding: 0;
    }

    .stack-pods {
        margin: 0;
        flex-wrap: wrap;
    }

    .col {
        flex: 1 100%;
    }
    
    .col-2 {
        flex: 1 100%;
    }

    .col-half {
        width: 100%;
    }

    .col-third {
        width: 100%;
    }
    
    .arc-drawing-b {
        display: none;
    }
    
    .arc-drawing-w {
        display: none;
    }

    .summary-pod {
        margin: 40px 0;
    }

    footer .narrow {
        padding: 0 20px;
    }
    
    footer .footer-links {
        padding: 12px 0;
    }

    .footer-links li {
        display: block;
        padding: 0;
        margin: 16px 0;
    }
}

@media (max-width: 500px) {
    .button {
        display: block;
        text-align: center;
        margin: 0 0 20px 0;
    }

    .projectsSlider {
        margin: 0;
    }

    .slick-list {
        padding: 0 40px 0 0;
        margin: 0 -20px;
    }

    .slick-list:first-child {
        padding-left: 10px;
    }

    .project-example {
        margin: 10px;
    }
}